<% provide(:title, "log in") %>
<h1>log in now!</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <%= form_for(:session, url: login_path) do |form| %>
          <%= form.label    :email %>
          <%= form.email_field :email, class: 'form-control' %>
          
          <%= form.label          :password %>
          <%= form.password_field :password, class: 'form-control' %>
          <%= link_to "(forgot password?)", new_password_reset_path %><br />
          
          
         
          <%= form.check_box :remember_me%> remember me</br></br>
          
          <%= form.submit "log in", class: "btn btn-primary" %><br /><br >
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
       <p>New here?<br /><%= link_to "sign up now!", signup_path, class: "btn btn-primary btn-sm" %></p> 
    </div>
    
</div>