<div class="col-md-12"> 
  <p>Your notes</p>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Course id</th>
          <th>Course name</th>
          <th>Notes</th>
          <th>avarege</th>
        </tr>
      </thead>
      <tbody>
        <% @subject_ids.each do |s_id| %>
          <%  subject = Subject.find(s_id) %>
          <%  _notes = [] %>
          <%  _notes = subject.notes.where(user_id: @user.id) %>
          <% sum = 0 %>
          <% c = _notes.count %>
          <%  _notes.each do |n| %> 
            <% sum += n.note %>
          <% end %>
          <% avr = sum / c %>
          <% if avr <= 2.99 %>
          <tr class="danger">
              <td><%= s_id %></td>
              <td><%= link_to subject.name, subject %></td>
              <td><%  _notes.each do |n| %><%= n.note %>, <% end %></td>
              <td><%=  avr %></td>
          </tr>
          <% elsif avr < 3.49 %>
          <tr class="warning">
              <td><%= s_id %></td>
              <td><%= link_to subject.name, subject %></td>
              <td><%  _notes.each do |n| %><%= n.note %>, <% end %></td>
              <td><%=  avr %></td>
          </tr>
          <% else %>
          <tr class="success">
              <td><%= s_id %></td>
              <td><%= link_to subject.name, subject %></td>
              <td><%  _notes.each do |n| %><%= n.note %>, <% end %></td>
              <td><strong><%=  avr %></strong></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
  </table> 
  <p class="text-danger text-align">red - pay attension! risk of failing</p>
  <p class="text-warning text-align">yellow - try not to get to red</p>
  <p class="text-success text-align">green - congrats! you do well!</p>
</div>