<div class="col-md-12"> 
  <p>Your notes</p>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Course id</th>
          <th>Course name</th>
          <th>Notes</th>
          <th>avarege</th>
        </tr>
      </thead>
      <tbody>
        <% totl_avr = 0 %>
        <% ects_sum = 0 %>
        <% subs = @subject_ids.count %>
        <% @subject_ids.each do |sid| %>
          <%  subject = Subject.find(sid) %>
          <%  _notes  = [] %>
          <%  _notes  = subject.notes.where(user_id: @user.id) %>
          <% sum      = 0 %>
          <% ects_sum += subject.ects %>
          <% c        = _notes.count %>
          <%  _notes.each do |n| %> 
            <% sum += n.note %>
          <% end %>
          <% avr = sum / c %>
          <% totl_avr += avr*subject.ects %>
          <% if avr <= 2.99 %>
          <tr class="danger">
              <td><%= sid %></td>
              <td><%= link_to subject.name, subject %></td>
              <td><%  _notes.each do |n| %><%= n.note %>, <% end %></td>
              <td><%=  avr.round(1) %></td>
          </tr>
          <% elsif avr < 3.49 %>
          <tr class="warning">
              <td><%= sid %></td>
              <td><%= link_to subject.name, subject %></td>
              <td><%  _notes.each do |n| %><%= n.note %>, <% end %></td>
              <td><%=  avr.round(1) %></td>
          </tr>
          <% else %>
          <tr class="success">
              <td><%= sid %></td>
              <td><%= link_to subject.name, subject %></td>
              <td><%  _notes.each do |n| %><%= n.note %>, <% end %></td>
              <td><strong><%=  avr.round(1) %></strong></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
  <% totl_avr /= ects_sum %>
  <% if totl_avr <= 2.99 %>
    <h2 class="text-danger text-align"> your total average is <%= totl_avr.round(2) %></h2>
  <% else %>
    <h3 class="text-success text-align"> your total average is <%= totl_avr.round(2) %></h3>
  <% end %><br><br>
  <p class="text-danger text-align">red - pay attension! risk of failing</p>
  <p class="text-warning text-align">yellow - try not to get to red</p>
  <p class="text-success text-align">green - congrats! you do well!</p>
</div>