<% provide(:title, @user.name) %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if !@user.tutor? && !@user.admin? && current_user == @user %>
        <%= render 'notes/show' %>
      <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <% if current_user == @user %>
        <h4>your mail box:</h4>
        <%= render 'partials/messagesstats' %>
        <% if @messages_r.empty? %>
          <p> you have no messages here</p>
        <% else %>
            <%= render 'messages/received' %>
        <% end %>
      <% else %>
        <h5><%= current_user.name %></h5>
        <%= render 'messages/new' %>
      <% end %>
    </div>
    <% if !@user.tutor? && !@user.admin?  %>
      <div class="col-md-6">
        <%= render 'participations' %>
      </div>
    <% end %>
  <div class="col-md-6">
  </div>
</div>