<% provide(:title, @user.name) %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if !@user.tutor? && !@user.admin? %>
        <%= render 'notes/show' %>
      <% else %>
        <h3>good moring <%= @user.name %></h3><br>
      <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>your mail box:</h4>
        <%= render 'partials/messagesstats' %>
        <% if @messages_r.empty? %>
          <p> you have no messages here</p>
        <% else %>
            <%= render 'messages/index' %>
        <% end %>
    </div>
    <% if !@user.tutor? && !@user.admin? %>
      <div class="col-md-6">
        <%= render 'participations' %>
      </div>
    <% end %>
  <div class="col-md-6">
  </div>
</div>