<% users = [] %>
<% @subject.active_participations.each do |particip| %>
    <% u_id = particip.user_id %>
    <% u    = User.find(u_id) %>
    <% users << u %>
<% end %>
<% users.sort_by! { |u| u.name.split(" ").last } %>
<% users.each do |u| %>
    <tr>
        <td><%= link_to u.name.split(" ").last + " " + u.name.split(" ").first, u %></td>
        <% if logged_in_tutor? %>
            <%= form_for(u.notes.build) do |f| %>
                <td><%= f.number_field :note , in: 0..5, :step => 0.1 %></td>
                <%= hidden_field_tag :subject_id, @subject.id %>
                <%= hidden_field_tag :user_id,    u.id %>
                <td><%= f.submit "add", class: "btn btn-primary btn-xs" %></td>
            <% end %>
        <% end %>
    </tr>
<% end %>