<% provide(:title, 'all subjects') %>
<div class="row">
    <div class="col-md-6 col-offset-3">
        <%= will_paginate %>
        <ul>
            <% @subjects.each do |subject| %>
              <li><%= link_to subject.name %></li>
              <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "delete", user, method: :delete,
                            data: { confirm: "sure?" } %>
              <% end %></li>
            <% end %>
        </ul>
        <%= will_paginate %>
    </div>
</div>
<div class="row">
    <%= link_to "subjects", subjects_path, class: "btn btn-primary" %>
    <%= link_to "add subject", new_subject_path, class: "btn btn-primary" %>
</div>