<h2>add new subject</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@subject) do |form| %>
          <%= render 'partials/errors', object: @subject %>
  
          <%= form.label      :name %>
          <%= form.text_field :name, class: "form-control" %>
  
          <%= form.label      :description %>
          <%= form.text_area :description, class: "form-control" %>
  
          <%= form.submit "Create new subject", class: "btn btn-primary" %>
        <% end %>
    </div><br/>
</div>
<div class="row">
    <%= link_to "subjects", subjects_path, class: "btn btn-primary" %>
</div>