<% provide(:title, "subject: "+@subject.name) %>
<div class="row">
  <div class="col-md-6">
    <%= render 'description' %>
    <%= link_to "subjects", subjects_path, class: "btn btn-primary" %>
    <% if logged_in_tutor? %>
        <%= link_to "edit", edit_subject_path(@subject), class:"btn btn-primary" %>
    <% end %>
    <%= render 'delete' %>
    <% if !logged_in_tutor? && current_user.participating?(@subject)%>
      <%= render 'users/participate' %>
    <% end %>
    <% if logged_in_tutor? %>
      <%= render 'notes/tab' %>
    <% end %>
  </div>
    <div class="col-md-6">
      <% if @subject.microposts.any? %>
          <h3>posts <%= @subject.microposts.count %></h3>
          <ol><%= render @microposts %></ol>
          <%= will_paginate @microposts %>
      <% end %>
      <%= render 'microposts/new' %><br>
    </div>
</div>
