<% provide(:title, "subject: "+@subject.name) %>
<div class="row">
    <div class="col-md-6">
      <%= render 'description' %>
      <%= link_to "subjects", subjects_path, class: "btn btn-primary" %>
      <% if !logged_in_tutor? && current_user.participating?(@subject)%>
        <%= render 'users/participate' %>
      <% end %>
      <% if logged_in_tutor? %>
        <%= link_to "edit", "#", class:"btn btn-primary" %>
    </div>
    <div class="col-md-6">
      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>students name</th>
            <th>add note</th>
          </tr>
        </thead>
        <tbody>
          <% @subject.active_participations.each do |particip| %>
            <% u_id = particip.user_id %>
            <% u    = User.find(u_id) %>
            <tr>
              <td><%= link_to u.name, u %></td>
              
              <%= form_for(u.notes.build) do |f| %>
                <td><%= f.number_field :note , in: 2..5, :step => 0.1 %></td>
                    <%= hidden_field_tag :subject_id, @subject.id %>
                    <%= hidden_field_tag :user_id, u.id %>
                    <td><%= f.submit "add", class: "btn btn-primary btn-xs" %></td>
                  <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= render 'delete' %>
    </div>
</div>